<nav class="navbar fixed-top navbar-expand-lg">
    @*<a class="sidebar-toggle mr-0 mr-md-3">
        <i class="fa fa-fw fa-bars"></i>
    </a>*@
    <a class="navbar-brand" href="/">
        <span class="system-name text-condensed">Serverless Chat</span>
        @*<img class="navbar-logo d-none d-md-block mr-2" src="~/Content/images/nav-logo.png" /><span class="system-name text-condensed">System Name</span>*@
    </a>
    <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex nav-container-right">
        <ul class="nav">
            @*<li class="nav-item">
                <span>
                    <i class="fa fa-bell"></i>
                </span>
            </li>*@
            @*<li class="nav-item dropdown">
                <a id="username" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    username<i class="fa fa-caret-down ml-2"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-fw mr-2 fa-lock"></i>Change Password
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-fw mr-2 fa-power-off"></i>Logout
                    </a>
                </div>
            </li>*@
        </ul>
    </div>
</nav>