$primary-color: #007bff;
$secondary-color: #868e96;
$success-color: #28a745;
$danger-color: #ffc107;
$warning-color: #17a2b8;
$info-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #343a40;

$sidebar-bg-color: #fff;
$main-content-bg-color: #f2f2f2;